aiofiles==0.4.0
attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
blis==0.2.4
Bottleneck==1.2.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cycler==0.10.0
cymem==2.0.2
dataclasses==0.6
decorator==4.4.0
entrypoints==0.3
fastai==1.0.53.post2
fastapi==0.29.1
fastprogress==0.1.21
flake8==3.7.7
h11==0.8.1
httptools==0.0.13
idna==2.8
ipython==7.5.0
ipython-genutils==0.2.0
jedi==0.13.3
joblib==0.13.2
jsonschema==3.0.1
kiwisolver==1.1.0
matplotlib==3.1.0
mccabe==0.6.1
murmurhash==1.0.2
numexpr==2.6.9
numpy==1.16.4
nvidia-ml-py3==7.352.0
packaging==19.0
pandas==0.24.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.0
plac==0.9.6
preshed==2.0.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pyarrow==0.13.0
pycodestyle==2.5.0
pydantic==0.26
pyflakes==2.1.1
Pygments==2.4.2
pyparsing==2.4.0
pyrsistent==0.15.2
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.4
requests==2.22.0
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sklearn==0.0
soupsieve==1.9.1
spacy==2.1.4
srsly==0.0.7
starlette==0.12.0
thinc==7.0.4
torch==1.13.1
torchvision==0.3.0
tqdm==4.32.1
traitlets==4.3.2
typing==3.6.6
urllib3==1.25.3
uvicorn==0.11.7
uvloop==0.12.2
wasabi==0.2.2
wcwidth==0.1.7
websockets==7.0
